{% load i18n %}

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
	<div class="ms-2 container-fluid">
			<span>{% translate 'Deja' %}</span></a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">

			<div class="navbar-nav col-8">
				{% if request.user.is_authenticated %}
					<a class="nav-link active" href="{% url 'accounts:user_logout' %}"><i
									class="fa-solid fa-right-from-bracket"></i> {% translate 'Logout' %}</a>
				{% else %}
					<a class="nav-link active" href="{% url 'accounts:user_register' %}"><i class="fa-solid fa-user-plus"></i>
						{% translate 'Register' %}</a>
					<a class="nav-link active" href="{% url 'accounts:user_login' %}"><i class="fa-solid fa-right-to-bracket"></i>
						{% translate 'Login' %}</a>
				{% endif %}
				{% if request.user.is_admin %}
					{% comment %} <a class="nav-link active" href="{% url 'product:bucket' %}">{% translate 'Bucket' %}</a> {% endcomment %}
				{% endif %}
				&nbsp;


			</div>
			<div class="navbar-nav col-4 justify-content-end">
					{% if cart|length > 0 %}<span class="btn btn-danger px-2 py-0 rounded-circle">{{ cart|length }}</span>{% endif %}</a>
				{% if request.user.is_authenticated %}
					<a class="nav-link active" href="{% url 'accounts:user_profile' %}"><i class="fa-solid fa-user"></i>
						{{ request.user.full_name }} </a>
				{% endif %}
			</div>
		</div>
	</div>
</nav>