{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate 'Landing Page' %}{% endblock %}

{% block extrastyle %}
	body {
	background-image: url('/static/img/landing_page.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	}

{% endblock %}

{% block content %}
	<div class="container">
		<br><br><br>
		<div class="col-md-6 mx-auto my-auto justify-content-space-between">
			<div class="card bg-dark text-white text-center" style="opacity: 90%;">
				<h1 class="card-header"><img src="/static/img/gold.png" width="55 px" height="50 px" alt="icon">
					{% translate 'Deja' %}</h1>

				<div class="p-4 mb-2 bg-dark text-white">
					<h2 class="text-center text-primary">{% translate 'Welcome' %}</h2>
					<br>
					<p style="font-size:20px;" dir="auto">{% translate 'The best laxtury axilary with the best prices. We hope you shine like a diamond.' %}</p>
					<br><br>
					<div class="row my-auto px-4">
						<p class="col-md-6 text-start fw-bold" style="font-size:22px" dir="auto">{% translate 'Hope you enjoy!' %}</p>
						<p class="col-md-6 text-end"><a class="btn btn-primary " href="{% url 'products:home' %}" role="button">
							{% translate 'let have a trip' %}</a></p>
					</div>

				</div>
			</div>
		</div>

	</div>

{% endblock %}